<div class="relative w-full text-gray-500 focus-within:text-gray-900 dark:focus-within:text-gray-400">
    <div aria-hidden="true" class="pointer-events-none absolute inset-y-0 flex items-center px-4">
        <span class="iconify h-5 w-5 {{ icon }}"></span>
    </div>

    <input
        id="{{ id }}"
        type="{{ type }}"
        name="{{ name }}"
        placeholder="{{ placeholder }}"
        class="w-full rounded-md border py-2 pl-10 pr-4 text-base focus:border-primary focus:ring focus:ring-primary-lighter focus:ring-offset-2 focus:ring-offset-white dark:border-gray-500 dark:bg-darker dark:text-gray-300 dark:focus:ring-offset-dark rtl:pl-4 rtl:pr-10"
    />
</div>
